/* shared styling */
body{
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	/*color: #66666a;*/
	color: black;
}
a:link, a:visited {
    color:  #99999A;
}
a:hover {
	color: #333338;
}
.scroll-down {
  min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFD000;
}
.down-arrow {
  text-decoration: none;
	text-align: center;
	line-height: 40px;
	color: white;
	font-size: 50px;
	width: 50px;
	height: 50px;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 50%;
}
a.down-arrow {
	color: white;
}
a.down-arrow:hover {
	color: #333338;
}
a.live, a.github {
	color: black;
}
a.live:hover, a.github:hover {
	color: #99999A;
}
/* Top of the page */
#top-header {
	margin-top: 20px;
	min-height: 200px;
	padding-left: 20%;
  padding-right: 5%;
	display: flex;
	justify-content: space-between;
}

#profile-pic {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
  border-radius: 50%;
}

#top-header-ul {
  list-style: none;
  display: flex;
	padding: 20px;
}
.top-header-a {
	margin: 10px;
}

#middle-header {
	min-height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20%;
}

.title {
	font-size: 50px;
	margin: 0px;
	font-weight: 400;
}

.more-info {
font-size: 22px;
max-width: 40%;
margin: 20px 0px 0px 0px;
font-weight: 300;
}

#bottom-header-ul {
  list-style: none;
  display: flex;
	padding: 0px;
}
.bottom-header-a {
  color:  #99999A;
}

/* Main Page Projects */
#main-container {
  min-height: 100%;
	display: flex;
}

#side-margin {
  background-color: #FFD000;
  flex: 1;
}
#projects {
  flex: 6;
	background-color: white;
	margin-left: 70px;
	padding-right: 60px;
}

#title-recent-work {
	padding-top: 30px;
	padding-bottom: 30px;
	display: block;
	margin: auto;
}
.project-container{
  display: flex;
	align-items: center;
	padding: 20px;
	border: 1px solid green;
}

.description-box {
	flex: 2;
	border: 1px solid blue;
	/*max-width: 600px;*/
	margin: 0px 40px 0px 40px;
}

.title-header {
  display: flex;
  justify-content: center;
	align-items: center;
}
.project-title {
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
}
.project-description, .project-language {
  margin: 10px;
}

img{
	max-width: 100%;
	height: auto;
}
.project-image{
  flex: 1;
  border: 1px solid red;
}

.project-pic {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}
.project-pic:hover {
  opacity: 0.5;
}

/* Reach Out Section on the bottom of Page*/
footer {
	min-height: 100px;
}
#reach-out {
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 20%;
}

#bottom-nav-ul {
  list-style: none;
  display: flex;
	padding: 0px;
  justify-content: center;
}
